{% extends "base.html" %}
<html>

    {% block content %}
<head>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='esp/esp_style.css') }}">

</head>

<script type=text/javascript>

document.addEventListener("DOMContentLoaded", function(){
    $.ajax('/read',   // request url
    {
        success: function (data, status, xhr) {// success callback function

            if(data == "on"){
                document.getElementById("myCheckbox").checked = true;
            } else {
                document.getElementById("myCheckbox").checked = false;
            }
    }
});
});


function toggleCheck() {
  if(document.getElementById("myCheckbox").checked === true){
    $.getJSON('/_led', {state:"on"});
  } else {
    $.getJSON('/_led', {state:"off"});
  }
}


</script>


 <label class="switch">
    <input type="checkbox" id="myCheckbox" onchange="toggleCheck()" checked>
    <span class="slider"></span>
</label>


{% endblock %}
</html>
