<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
      {% if title %}
      <title>{{ title }} - Homey</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/torrent">Torrent</a></li>
            <li><a href="/esp">ESP</a></li>

          </ul>


        <hr>
        {% block content %}{% endblock %}
    </body>
</html>